
<!doctype html>
<html lang="en">

  {% include head.html css="css/album.css" %}

  <body>
    <header>
      {% capture darkmode %}{{site.data.settings.navbar.darkmode}}{% endcapture %}
      {% include {{site.data.settings.navbar.include}} darkmode=site.data.settings.navbar.darkmode %}
    </header>
    <main role="main">

      {% include jumbotron.html %}

      <div class="album py-5 bg-light" id="portfolio">
        <div class="container">
          {{ content }}
          <div class="row">
            {% for project in page.projects %}
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="card mb-4 box-shadow">
                <a href="{{site.baseurl}}{{project.thumbnail}}" data-lightbox="projects-lightbox" data-title="{{ project.title }}">
                  <div class="card-img-top" 
                    style="height: 225px; background-image: url({{site.baseurl}}{{project.thumbnail}}); background-position: center; background-size: cover;"></div>
                </a>
                <div class="card-body">
                  <p class="card-text">{{project.description}}</p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{{ project.url }}">View Project</a>
                  </div>
                  <small class="text-muted">{{project.category}}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
